html,
body {
	margin: 0; /*Remove default margin */
	padding: 0; /*Remove default padding */
	height: 100%; /* Ensure full height */
	overflow: hidden; /* Prevent scrolling */
	font-family: "LTUnivers 430 BasicReg", Helvetica;
}

#renderer {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: rgb(11, 10, 14);
	margin: auto;
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
}

#renderDots {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

h1 {
	position: absolute;
	margin-top: 20px;
	top: 1%;
	left: 2%;
	font-size: 18px;
	padding: 10px;
	color: white;
	z-index: 1000;
}

h2 {
	position: absolute;
	margin-top: 20px;
	top: 5.5%;
	left: 2%;
	font-size: 12px;
	padding: 10px;
	color: rgb(159, 165, 183);
	z-index: 1000;
	font-weight: normal;
}

#renderChart {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0; /* Standardmäßig unsichtbar */
	transition: opacity 0.4s ease; /* Sanfte Übergangseffekte */
}

.dot {
	position: absolute;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}

#center-dot {
	width: 20px;
	height: 20px;
}

.small-dot {
	width: 3px;
	height: 3px;
}

/* #slider-container {
    margin: 8px;
}
	*/

.years-container {
	display: flex;
	justify-content: space-between; /* Space out the year labels */
	position: absolute;
	width: 50%; /* Match the slider width */
	top: 2.5em; /* Position above the slider */
	padding: 0 10%; /* Add horizontal padding */
}

.years-container span {
	font-size: 9px;
	transform: rotate(-90deg); /* Rotate the labels counterclockwise */
	transform-origin: left bottom; /* Set origin for rotation */
	cursor: pointer; /* Change cursor to pointer for interactivity */
}

/* #year-slider {
	width: 50%;
	margin: 0 auto;
} */

#play-button {
	position: absolute;
	bottom: 23px; /* Distance from the top of the page */
	left: 190px; /* Distance from the right side of the page */
	background-color: #353738;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	z-index: 1000; /* Ensure the button appears above other elements */
	width: 27px;
	height: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#play-button:hover {
	background-color: rgb(122, 122, 122);
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none; /* Remove default styling */
	width: 0.3vw; /* Thumb width */
	height: 0.5vh; /* Thumb height */
	background: #ffffff; /* Thumb color */
	cursor: pointer; /* Change cursor to pointer */
	border-radius: 5px; /* Rounded edges */
	align-items: center;
	transform: translateY(-50%); /* Center the thumb vertically */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
	width: 0.5vw; /* Ensure thumb width matches webkit */
	height: 1vh; /* Ensure thumb height matches webkit */
	background: #ffffff; /* Thumb color */
	cursor: pointer; /* Change cursor to pointer */
	border-radius: 5px; /* Rounded edges */
}

/* Common styles for the slider input */
input[type="range"] {
	-webkit-appearance: none; /* Remove default styling in webkit */
	width: 100%; /* Full width of the container */
	height: 5px; /* Track height */
	border-radius: 5px; /* Rounded track edges */
	margin-top: 1em; /* Space above the slider */
	outline: none; /* Remove outline */
}

/* Dots */
.dot {
	height: 10px;
	width: 10px;
	right: 75px;
	border-radius: 50%;
	display: inline-block;
}

.red {
	background-color: red;
}

.blue {
	background-color: #00ddff; /* Light blue */
}

/* Style for the labels' background boxes */
.hoverable-label-box {
	fill: grey; /* Box background color */
	stroke: none; /* Remove border */
	transition: fill 0.3s ease; /* Smooth transition for background color */
}

/* Style for the label text */
.hoverable-label {
	fill: white; /* Text color */
	pointer-events: none; /* Prevent mouse events on text itself */
}

/* Hover effect on label group (both text and box) */
.label-group:hover .hoverable-label-box {
	fill: #00ddff; /* Change background color on hover */
}

/* Optionally scale the whole group on hover */
.label-group:hover {
	transform: scale(1.1); /* Slightly enlarge the label box on hover */
	cursor: pointer; /* Change cursor to pointer */
}

.main-category-label {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	font-size: 14px;
}
.main-category-label span {
	min-width: 0.5em;
	text-align: center;
	padding: 30px;
	margin: 0px;
}
.dot {
	position: absolute;
	border-radius: 50%;
}

.red-dot {
	background-color: red;
	opacity: 1; /* Higher opacity for better blending */
	/* Intense glow effect with more outer glow */
	box-shadow: 0px 0px 0.5rem 0.5px rgba(255, 0, 0, 1),
		/* Inner glow */ 0px 0px 1rem 1px rgba(255, 0, 0, 0.7),
		/* Middle glow */ 0px 0px 2rem 1px rgba(255, 0, 0, 0.5),
		/* Increased outer glow */ 0px 0px 3rem 1px rgba(255, 0, 0, 0.3); /* Additional outer glow */
}

.blue-dot {
	background-color: #00ddff;
	opacity: 1; /* Higher opacity for better blending */
	/* Intense glow effect with more outer glow */
	box-shadow: 0px 0px 0.5rem 0.5px rgba(0, 221, 255, 1),
		/* Inner glow */ 0px 0px 1rem 1px rgba(0, 221, 255, 0.7),
		/* Middle glow */ 0px 0px 2rem 1px rgba(0, 221, 255, 0.5),
		/* Increased outer glow */ 0px 0px 3rem 1px rgba(0, 221, 255, 0.3); /* Additional outer glow */
}
.blue-dots {
	background-color: rgba(0, 221, 255, 1);
}

.center-dot {
	background-color: white;
}

.at-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Full viewport height */
	width: 100vw; /* Full viewport width */
	position: fixed; /* Fix the position to cover the entire screen */
	top: 0;
	left: 0;
	background-color: rgb(11, 10, 14); /* Optional: Add a background color */
	z-index: 1000; /* Ensure it appears above other elements */
	animation: background-fade-out 3s ease 6s forwards,
		remove-background 3s ease 9s forwards; /* Fade out the background and then remove it */
}

.at-item {
	color: #ffffff;
	font-weight: bold;
	font-size: 3em;
	opacity: 0; /* Start with opacity 0 */
	filter: blur(10px); /* Start with blur */
	animation-name: focus-in-contract;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards; /* Keep the final state */
	animation: focus-in-contract 3s linear 0s 1 forwards,
		fade-out 3s ease 3s 1 forwards;
	/* First animation: focus-in-contract (3s), then fade-out (3s) */
}

@keyframes focus-in-contract {
	0% {
		filter: blur(10px);
		opacity: 0;
	}
	100% {
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes background-fade-out {
	0% {
		background-color: black;
		opacity: 1;
	}
	100% {
		background-color: transparent;
		opacity: 0;
	}
}

@keyframes remove-background {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: transparent;
	}
}

.at-item2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 3em;
	opacity: 0; /* Start with opacity 0 */
	filter: blur(10px); /* Start with blur */
	animation-name: focus-in-contract;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards; /* Keep the final state */
	animation: focus-in-contract 1s linear 0s 1 forwards,
		fade-out 3s ease 4s 1 forwards; /* Delay fade-out by 1 second */
	/* First animation: focus-in-contract (3s), then fade-out (4s) */
}

.scale-up {
	transform-origin: center center; /* Scale from the center */
	animation: scale-up-center 1s ease; /* Use 'forwards' to retain the final state */
}

@keyframes scale-up-center {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.gridline {
	transition: opacity 1s linear; /* Smooth opacity transition */
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(11, 10, 14);
	z-index: 1000; /* Ensure it sits on top */
	transition: opacity 1s ease-in-out; /* Add transition for fade-out effect */
}

.overlay.fade-out {
	opacity: 0; /* Fade out the overlay */
}

#legend-container {
	position: absolute;
	top: 200px;
	right: 150px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend-item {
	margin: 5px 0;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
}

.legend-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
